
Hamlet Unity Project/Temp/UnityLockfile
Hamlet Unity Project/Library/EditorInstance.json
Hamlet Unity Project/Library/EditorInstance.json
Hamlet Unity Project/Assets/Sprites/testSprites.meta
*.meta
Hamlet Unity Project/Assets/Sprites/testSprites.meta
Hamlet Unity Project/Assets/Sprites/testSprites/boxBlue.png.meta
Hamlet Unity Project/Assets/Sprites/testSprites.meta
